* {
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

#logo{
    margin-top: 0px;
    margin-left: 70px;
}

#logo img{
    height: 80px;
    width: 150px;
}

#logoname{
    color: white;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 7px;
}

ul{
    width: fit-content;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.item{
    margin: 15px;
    font-size: 1.4rem;
}

.uldiv{
    display: flex;
    justify-content: right;
    align-items: right;
    width: 800px;
    margin-left: 100px;
}

ul a{
    padding: 0px 18px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 5px rgb(41, 39, 39);

}

ul a:hover{
    background-color: rgb(139, 135, 135);
    text-shadow: 4px 4px 5px rgb(41, 39, 39);
}

ul a:active{
    text-decoration: underline;
}

ul a:active{
    text-decoration: underline;  
}

#home{
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-items: center;
    font-family: 'Bree serif',serif;
}

#home::before{
    content: "";
    background: url(back11.1.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 650px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
    font-size: 2.5rem;
}

#home p{
    font-size: 1.3rem;
    margin-top: 18px;
    text-align: center;
    text-shadow: 3px 3px 4px rgb(185, 183, 183);
}

.btn{
    padding: 8px 24px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
    color: white;
    margin: 20px;
    cursor: pointer;
}

.btn:hover{
    text-decoration: underline;
}

#but1{
font-family: 'Bree serif',serif;
text-shadow: 4px 4px 4px rgb(41, 39, 39);
font-size: 1.3rem;
}

#services-container{
    font-family: 'Bree serif',serif;
    text-align: center;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services-container-head{
    color: rgb(230, 88, 32);
    padding: 12px;
    font-size: 2.4rem;
}

.services{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-box{
    border: 2px solid rgb(134, 133, 133);
    padding: 20px;
    margin: 10px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(235, 228, 228);
}

.service-img{
    height: 150px;
    width: 200px;
}

.service-head{
    padding: 12px;
    font-size: 1.5rem;
}

.service-para{
    font-size: 1.1rem;
}

#clients-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bree serif',serif;
}

#clients-container::before{
    content: "";
    background-color: rgb(223, 191, 162);
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0.5;
}

.clientlogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: none;
}

.clients-head{
    color: rgb(230, 88, 32);
    padding: 8px;
    font-size: 2.4rem;
}

.client-img{
    margin: 5px 15px;
    height: 100px;
    width: 150px;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Bree serif',serif;
}

#contact::before{
    content: "";
    background: url(back4.webp) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.85;
}

.contact-head{
    padding: 20px;
    color: white;
    font-size: 2.4rem;
    text-shadow: 4px 4px 5px rgb(41, 39, 39);
}

#contactbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-family:'Bree serif',serif ;
    border: 2px solid rgb(117, 115, 1150);
}

#contactbox form{
    width: 100%;
}

#contactbox label{
    font-size: 1.1rem;
    color: white;
    text-shadow: 4px 4px 5px rgb(41, 39, 39);
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1.2rem;
    font-family: 'Bree serif',serif;
    padding: 8px;
}
.homepage{
    color: bisque;
}